CO2 emission intensity measured in g/kWh

In [8]:
import pandas as pd

In [20]:
df = pd.read_csv('co2-emission-intensity-6.csv')
df.columns

Index(['Date:year', 'Member State:text', 'index:number',
       'Indicative level - high:number', 'Indicative level - low:number'],
      dtype='object')

In [22]:
df

,Date:year,Member State:text,index:number,Indicative level - high:number,Indicative level - low:number
0,1990,Austria,239.0,NaN,NaN
1,1991,Austria,249.0,NaN,NaN
2,1992,Austria,194.0,NaN,NaN
3,1993,Austria,177.0,NaN,NaN
4,1994,Austria,195.0,NaN,NaN
...,...,...,...,...,...
927,2015,United Kingdom,380.0,NaN,NaN
928,2016,United Kingdom,294.0,NaN,NaN
929,2017,United Kingdom,264.0,NaN,NaN
930,2018,United Kingdom,250.0,NaN,NaN
931,2019,United Kingdom,228.0,NaN,NaN

In [18]:
df.isnull().sum()

Date:year                          0
Member State:text                  0
emission_intensity:text          783
type:text                          0
CO2 emission intensity:number      0
dtype: int64